@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TO DO list</h1>
    <p class="lead">Welcome to my mini project. This webapp allows you to create items which remind you what you need to do.</p>
    <p>I have used ASP.Net, Entity Framework and MVC to develop this webapp. I hope you enjoy this app as I've enjoyed developing it</p>
</div>